.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  color: rgb(135, 135, 135);
  padding: 16px;
  border-radius: 4px;
  margin: 30px auto;
}

.Weather h1 {
  color: rgb(33, 33, 33);
  margin: 24px 0 15px 0;
  font-size: 34px;
  font-weight: 600;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  display: inline-block;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.Weather a {
  text-decoration: none;
}

.Weather .btn-primary {
  background-color: #8a2be2;
}
footer a {
  text-decoration: none;
  color: #8a2be2;
}
